
.hidden {
  opacity:0;
}
.console-container {
 background: #000;
border-radius: 5px;
  font-size:2em;
  text-align:center;
  height:60px;
  width:300px;
  display:block;
  position:relative;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  font-family: "Dank Mono", ui-monospace, monospace; /* Agregar la fuente aquí */

}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.h2tecno{
    color:  #A686EE ;
    font-weight: 600; /* Ajusta este valor según tus necesidades */
    font-size: 35px;
    font-family: "Dank Mono", ui-monospace, monospace;

}